/* ***************************
        전역 스타일
   *************************** */
* {
  box-sizing: border-box;
}

/* ***************************
        컨테이너 스타일
   *************************** */
.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding-bottom: 120px;
}

/* 헤더 스타일 */
.order-container h2 {
  margin-top: 0;
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

/* 주문 섹션 공통 스타일 */
.order-content {
  width: 600px;
  padding: 20px 15px;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
}

/* ***************************
        상품 정보 섹션
   *************************** */
.order-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.order-info img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-right: 10px;
}

.order-details {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.span-bold {
  color: black;
  font-weight: bold;
  margin: 3px 0px;
}

.span-gray {
  font-size: 13px;
  color: gray;
  margin-top: 3px;
  font-weight: light;
}

/* ***************************
        가격 정보 섹션
   *************************** */
.price-detail {
  display: flex;
  padding-bottom: 10px;
  font-size: 14px;
  flex-direction: column;
    border-bottom: 1px solid #f4f4f4;
  
}

.orderNow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #f4f4f4 1px solid;
  margin: 5px;
}

.orderNow div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

/* ***************************
        판매 희망가 입력 섹션
   *************************** */
.tapList {
  margin: 10px 0px;
}

.tapList h4 {
  color: black;
  margin: 3px;
}

.tapList div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.registPrice {
  background-color: white;
  border: #f4f4f4 1px solid;
  border-radius: 10px;
  width: 50px;
  padding: 5px;
}

.registPrice:hover,
.registPrice:active {
  background-color: black;
  color: white;
}

.inputPriceBox {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: #f4f4f4 3px solid;
}

.inputPriceBox:hover {
  border-bottom: black 3px solid;
  font-weight: bold;
}

input[type="text"] {
  display: inline;
  width: 100%;
  margin-right: 10px;
  height: 35px;
  text-align: right;
  font-style: italic;
  border: none;
  font-size: 15px;
}

input[type="text"]:focus {
  font-weight: bold;
}
#alertMessage {
  display: flex;
  float: right;
  font-size: 13px;
  color: rgba(255, 127, 80, 1);
}
/* ***************************
        배송 정보 섹션
   *************************** */
.delivery-info {
  display: flex;
  flex-direction: column;
}

.delivery-info div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* ***************************
        정산 금액 섹션
   *************************** */
.total-price {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 30px;
  color: black;
}

/* ***************************
        버튼 스타일
   *************************** */
.action-button {
  display: block;
  width: 100%;
  background-color: #d4d4d4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  text-decoration: none;
}

.action-button:hover {
  background-color: black;
}
