@charset "UTF-8";
.inputBox {
    display: flex;
    align-items: center;
}
.profile-box {
    border-bottom: lightgray 1px solid;
    height: 100px;
    margin: 10px 0 30px 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-info {
    max-width: 700px;
    width: 70%;
    padding-left: 20px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.profile-user-nickname {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
}

.profile-user-email {
    color: gray;
    font-size: 14px;
}

.inputBox {
    display: flex;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
}

.nickname-edit-btn {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}