@charset "UTF-8";
* {
  box-sizing: border-box;
}


.order-container {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	background-color: #f4f4f4;
	padding-bottom: 120px;
}

.order-container h2 {
	margin-top: 0;
	background-color: white;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
}

.order-content {
	width: 600px;
	padding: 20px 15px;
	margin: 20px 0;
	background-color: white;
	border-radius: 10px;
}

.order-title {
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.modalOpen {
	border: #f4f4f4 1px solid;
	padding: 5px 8px;
	border-radius: 10px;
	color: gray;
}

.order-info {
	display: flex;
	align-items: center;
}

.order-subInfo {
	display: flex;
}


.order-info img {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin-right: 10px;
}

.order-info span {
	display: inline-block;
    padding: 5px;
	font-size: 13px;
	margin: auto 0;
}

.fontGray {
	color: gray;
	margin-right: 30px;
}

.paymentSubinfo {
	width: 100%;
}

.payment-method {
	display: flex;
	justify-content: space-between;
}

.account-btn {
	border: 1px solid #f4f4f4;
    padding: 15px 10px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    text-align: left;
    align-items: center;
    display: flex
;}

.addCard {
	border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
    text-align: right;
    float: right;}

/* 결제 금액 디테일 */
.order-price {
	width: 100%;
}

.price-detail {
	width: 100%;
	margin: 10px 0;
	font-size: 14px;
	color: gray;
}

.price-detail div {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	width: 100%;
}

/* 총 결제금액 강조 */
.total-price {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	border-top: 1px solid #f4f4f4;
	padding-top: 10px;
	width: 100%;
	color: black;
}

.total-price span {
	font-size: 20px;
	font-weight: bold;
}

.order-selection {
	width: 100%;
	height: 40px;
	border: #f4f4f4 solid 1px;
	border-radius: 10px;
	padding-left: 7px;
	margin-top: 5px;
	font-size: 13px;
}

/* 결제 푸터 스타일 */
.payment-footer {
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	height: 100px; /* 푸터 높이 */
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
}

/* 결제 버튼 스타일 */
.payment-submit-btn {
	width: 600px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(93, 146, 226, 1); /* 파란색 */
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer; /* 클릭 가능 마우스 커서 */
	transition: background-color 0.3s ease; /* 호버 애니메이션 */
}

/* 버튼 호버 효과 */
.payment-submit-btn:hover {
	background-color: rgba(65, 115, 200, 1); /* 더 진한 파란색 */
}

/* 모달창 */
/* "주소 변경" 버튼 */
#address-modalOpenButton, #coupon-modalOpenButton {
	background-color: white;
	border: #f4f4f4 1px solid; /* 연한 회색 테두리 */
	padding: 5px 8px; /* 내부 여백 */
	border-radius: 15px; /* 모서리를 둥글게 */
	color: gray; /* 글자 색상 */
}
/* 버튼 */
#address-modalCloseButton, #coupon-modalCloseButton {
	cursor: pointer;
}

/* 모달 컨테이너 */
#address-modalContainer, #coupon-modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

#address-modalContainer.hidden, #coupon-modalContainer.hidden {
	display: none;
}

/* 모달 내용 */
#modalContent {
	background-color: #ffffff;
	width: 450px;
	height: 550px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
}

#modalContent .modal-close {
	position: absolute;
	top: 5px;
	right: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	cursor: pointer;
}

.addBtn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: white;
	border: #f4f4f4 1px solid;
	border-radius: 10px;
	margin-bottom: 19px;
}

#modalContent h3 {
	display: flex;
	justify-content: center;
}

.addressInfoList {
	border-radius: 8px;
	padding: 20px;
	margin: 0 auto;
}

.addressInfo {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	font-size: 13px;
	padding-bottom: 10px;
}

.addressInfo .name,
.couponInfo .name {
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 14px;
}

.addressInfo div,
.couponInfo div {
	padding: 3px 0px;
}

.couponInfoList {
	border-radius: 8px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
}

.couponInfo {
	font-size: 13px;
	padding : 10px;
	border-radius: 10px;
	border : #d4d4d4 1px solid;
width: 100%;	
}
.couponInfo .expiredate {
	float: right;
	color: lightgray;
}